<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}zAzon{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="header">{% block header %}<h1>zAzon</h1>{% endblock header %}</div>

<div class="miniheader"><h1>zAzon</h1>{{board}}</div>

<div class="content">{% block content %}{% endblock content %}</div>

<div class="bar">

    <div>
        <div class="way"><a href="/TVs" class="way">TVs</a></div>
        <div class="way"><a href="/Raccoons" class="way">Raccoons</a></div>
        <div class="way"><a href="/Magic" class="way">Magic</a></div>
        <div class="way"><a href="/Chill" class="way">Chill</a></div>
        <div class="way"><a href="/" class="way">GoHome</a></div>
    </div>

        {% if user.is_authenticated %}<div class="bar_user">

        <div class="bar_user_text"<th><a href="/users/{{user.get_username}}">{{ user.get_username }}</a><br>
        <a href="{% url 'logout'%}?next={{request.path}}">Logout</a></th></div>

        <div class="bar_user_pic"><a href="/users/{{user.get_username}}">
                {% if userpic %}<img width="50" height="50" src="{{userpic.url}}"/>
                {% else %}<img height="50" src="{% static "images/default.jpg" %}">{% endif %}</a></div>
    </div>
        {% else %}
        <div class="bar_user_desc">
            <a href="{% url 'login'%}?next={{request.path}}">Login</a> or
        <a href="/registration">Register</a></div>
        {% endif %}

</div>

</body>
</html>