{% extends "base.html" %}
{% block title %}{{board}}{% endblock title %}
{% block header %}{{board}}
<div>
        {{desc}}
</div>


{% endblock header %}
{% block content %}

<div>
    Threads:
    {%for thread in threads%}
    <p>
    <table>
    <tr align="left"><th>{{thread.date}}</th><th> {{thread.thread}} - <a href="users/{{thread.login}}">{{thread.login}}<img src="{{ thread.op_pic.url }}" height="50"/></a></th></tr>
    <tr><th><img src="{{ thread.pic.url }}" height="100"/></th><th align="left">{{thread.op_post}}</th>
        <th align="left">{{thread.count}}{% if thread.count == 1 %} post{% else %} posts {% endif %}</th></tr>
    <tr><th><input value="Go in thread..." type="button" onclick="location.href='{{board}}/Thread={{thread.id}}'" /></th></tr>
    </table>
    </p>
    {% endfor %}
    </div>

{% if user.is_authenticated %}
<div>
    New Thread:
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{NewThread}}
        </table>
        <input type="submit" value="confirm">
    </form>
</div>
{% endif %}

{% endblock content %}