{% extends "base.html" %}
{% block title %}{{board}}{% endblock title %}
{% block header %}{{board}}
<div>
        {{desc}}
</div>


{% endblock header %}
{% block content %}

<div>
    Threads:
    {%for thread in threads%}

    <img src="{{thread.pic.url}}">
    <li>{{thread.date}} - {{thread.thread}} - <a href="users/{{thread.login}}">{{thread.login}}</a></li>
    <input value="Go in thread..." type="button" onclick="location.href='{{board}}/Thread={{thread.id}}'" />
        {{thread.count}} posts

    {% endfor %}
    </div>

{% if user.is_authenticated %}
<div>
    New Thread:
    <form method="POST">
        {% csrf_token %}
        <table>
            {{NewThread}}
        </table>
        <input type="submit" value="confirm">
    </form>
</div>
{% endif %}

{% endblock content %}