{% extends "base.html" %}
{% block title %}{{thread.thread}}{% endblock title %}
{% block header %}{{board}},{{thread}}
<div>
        {{desc}}
</div>

{% endblock header %}
{% block content %}

<div><img src="{{ thread.pic.url }}" height="100"/> - {{thread.date}} - {{thread.thread}} - <a href="users/{{thread.login}}">{{thread.login}}</a></div>
<div>{{thread.op_post}}</div>

<div>
    {% for post in posts %}{% if post.pic %}<img src="{{ post.pic.url }}" height="100"/>{% endif %}
    <li>{{post.date}} - {{post.post}} - <a href="users/{{post.login}}">{{post.login}}</a></li>
    {{post.status}}
    {% endfor %}
</div>

<input value="Update" type="button" onclick="location.href='{{request.path}}'" />

{% if user.is_authenticated %}
<div>
    Post:
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{NewPost}}
        </table>
        <input type="submit" value="confirm">
    </form>
</div>
{% endif %}

{% endblock content %}