{% extends "base.html" %}
{% block title %}{{thread.thread}}{% endblock title %}
{% block header %}{{board}},{{thread}}
<div>
    {% if board == "Magic" %}
        Board about magic!
    {% elif board == "TVs" %}
        Board about TVs!
    {% elif board == "Raccoons" %}
        Board about raccoons!
    {% elif board == "Chill" %}
        Board for chill!
    {% else %}
        error: invalid URL-address
    {% endif %}
</div>

{% endblock header %}
{% block content %}
<div>{{thread.thread_date}} - {{thread.thread}} - <a href="users/{{thread.login}}">{{thread.login}}</a></div>
<div>{{thread.op_post}}</div>
<div>
    {% for post in posts %}
    <li>{{post.date}} - {{post.post}} - <a href="users/{{post.login}}">{{post.login}}</a></li>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<div>
    Post:
    <form method="POST">
        {% csrf_token %}
        <table>
            {{NewPost}}
        </table>
        <input type="submit" value="confirm">
    </form>
</div>
{% endif %}
{% endblock content %}