{% extends "base.html" %}
{% block title %}{{details.username}}{% endblock title %}
{% block header %}

{{details.username}}

{% endblock header %}
{% block content %}

    <table>
        <tr><th>Login:</th><th>{{details.username}}</th></tr>
        <tr><th>Name:</th><th>{{details.name}}</th></tr>
        <tr><th>Info:</th><th>{{details.info}}</th></tr>
        <tr><th>Status:</th><th>{{details.status}}</th></tr>
        <tr><th>pic:</th><th>{{details.pic}}</th></tr>
    </table>

{% if user_check == True %}

    <p><a href="/users/{{details.username}}/edit">Edit...</a></p>

{% endif %}

{% endblock content %}