{% extends "base.html" %}
{% block title %}{{details.username}}{% endblock title %}
{% block header %}

{{details.username}}

{% endblock header %}
{% block content %}

    <table>
        <tr align="left"><th>Login:</th><th>{{details.username}}</th></tr>
        <tr align="left"><th>Name:</th><th>{{details.name}}</th></tr>
        <tr align="left"><th>Info:</th><th>{{details.info}}</th></tr>
        <tr align="left"><th>Status:</th><th>{{details.status}}</th></tr>
        <tr align="left"><th>pic:</th><th>{{details.pic}}</th></tr>
    </table>

{% if user_check == True %}

    <p><a href="/users/{{details.username}}/edit">Edit...</a></p>

{% endif %}

<div>
    Latest post activity:
    <table>
    {% for post in posts %}

        <tr align="left"><th>{{post.date}}</th><th> - {{post.post}}</th><th>in <a href="{{post.ref}}">{{post.thread}}</a></th></tr>

    {% endfor %}
    </table>
</div>


{% endblock content %}