{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{details.username}}{% endblock title %}
{% block header %}

{{details.username}}

{% endblock header %}
{% block content %}
    {% if details.pic %}
    <img height="200" width="200" src="{{details.pic.url}}">
    {% else %}
    <img src="{% static "images/default.jpg" %}">
    {% endif %}

    <table>
        <tr align="left"><th>Login:</th><th>{{details.username}}</th></tr>
        <tr align="left"><th>Name:</th><th>{{details.name}}</th></tr>
        <tr align="left"><th>Info:</th><th>{{details.info}}</th></tr>
        <tr align="left"><th>Status:</th><th>{{details.status}}</th></tr>
    </table>

{% if user_check == True %}

    <p><a href="/users/{{details.username}}/edit">Edit...</a></p>

{% endif %}

<div>
    Latest post activity:
    <table>
    {% for act in activity %}

        <tr align="left"><th>{{act.date}}</th><th> - {{act.content}}</th><th><a href="{{act.ref}}">{{act.thread}}</a></th></tr>

    {% endfor %}
    </table>
    <a href="{{request.path}}/activity">All activity</a>
</div>



{% endblock content %}